<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <queries>
        <package android:name="com.github.olga_yakovleva.rhvoice.android" />
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:label="Kapijuja Reader"
        android:theme="@android:style/Theme.Material.NoActionBar"
        android:usesCleartextTraffic="true">

        <service
            android:name=".ReaderPlaybackService"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback" />

        <service
            android:name=".ReaderExportService"
            android:exported="false"
            android:foregroundServiceType="dataSync" />

        <activity
            android:name=".SettingsActivity"
            android:screenOrientation="unspecified"
            android:exported="false" />

        <activity
            android:name=".ReaderActivity"
            android:screenOrientation="unspecified"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:screenOrientation="unspecified"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
